services:
  - type: web
    name: mos-wedding
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
